{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"> 
        <metaname="viewport" content="width=device-width, initial-scale=1, shrink-to- fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Inspiration">
        <title>Dashboard</title> 
    </head>

    <body>
        <div class="container-fluid">
            
            <!-- Begin Menu Bar -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 top-bar-menu">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-12 branding"> House Management </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 menus">
                            <ul>
                                <li>Menu One</li>
                                <li>Menu Two</li>
                                <li>Menu Three</li>
                                <li class="last" >Menu Four</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 user-info"> 
                            <div class="user-avator">   </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Menu Bar -->

            <!-- Begin content -->
            {% block content %} {% endblock %}
            <!-- End Content -->
        </div>
    </body>
</html>