.content-page{
    padding: 20px;
    margin-top: 10px;
    background: #FFFFFF;
}

.content-box{
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px #EEEEEE;
}

.box-heading{
    height: 40px;
    color: #FFFFFF;
    text-align: left;
    padding-left: 10%;
    font-weight: bold;
    font-family: "Trirong", serif;
}

.box-body{
    height: 120px;
    padding-left: 10%;
}

.grey{ background: #999999; }
.grey{ background: #555555; }
.blue-dark{ background:  #1a5276;}
.blue-light{ background:  #2980b9;}
.purple-dark{ background:  #5b2c6f;}
.purple-light{ background:  #8e44ad;}
.orange-dark{ background:   #873600;}
.orange-light{ background:   #e67e22;}
.yellow-dark{ background:  #9a7d0a;}
.yellow-light{ background:  #f4d03f;}


