.content-page{
    padding: 20px;
    margin-top: 10px;
    background: #FFFFFF;
}

.content-box{
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px #EEEEEE;
}

.grey-heading{
    height: 40px;
    color: #FFFFFF;
    background: #555555;
}

.grey-body{
    height: 120px;
    background: #999999;
}